version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: meu-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: controle_geral_de_artes_marciais
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - minha-rede

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - postgres
    networks:
      - minha-rede

  app:
    build: .
    container_name: minha-app
    depends_on:
      - postgres
      - pgadmin
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/controle_geral_de_artes_marciais
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    ports:
      - "8080:8080"
    networks:
      - minha-rede

volumes:
  pgdata:

networks:
  minha-rede:
